<!DOCTYPE HTML>
<html>
	<head>
		<title>Guardian#show</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/stylesheets/main2.css" />
	</head>
	<body class="subpage">
		<div id="page-wrapper">

			<%= render "partials/nav-guardian"%>

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="">
						<div class="row">
							<div class="12u">

								<!-- Logo -->
								<div class="container">
									<h1><a href="#" id="logo">Welcome, <%= @guardian.email%></a></h1>
								</div>


								<!-- Nav -->
									<!-- <nav id="nav">
										<a href="index.html">Homepage</a>
										<a href="threecolumn.html">Three Column</a>
										<a href="twocolumn1.html">Two Column #1</a>
										<a href="twocolumn2.html">Two Column #2</a>
										<a href="onecolumn.html">One Column</a>
									</nav> -->

							</div>
						</div>
					</header>
				</div>

			<!-- Content -->
				<div id="content-wrapper">
					<div id="content">
						<div class="">
							<div class="row">
								<div class="col m3">

									<!-- Left Sidebar -->
										<section>
											<header>
												<h2>Items to Complete</h2>
											</header>
											<p>
												Ordered by most important
											</p>
											<ol class="link-list">
												<li><a href="#">Sed dolore viverra</a></li>
												<li><a href="#">Ligula non varius</a></li>
												<li><a href="#">Dis parturient montes</a></li>
												<li><a href="#">Nascetur ridiculus</a></li>
											</ol>
										</section>
										<section>
											<header>
												<h2>Family Members</h2>
											</header>
											<ul class="link-list">
												<li><a href="#">Nec sociis natoque</a></li>
												<li><a href="#">Penatibus et magnis</a></li>
												<li><a href="#">Dis parturient montes</a></li>
												<li><a href="#">Nascetur ridiculus</a></li>
											</ul>
										</section>
								</div>
								<div class="col m6 important(mobile)">

									<!-- Main Content -->
										<section>
											<header>
												<h2>Your Neighborhood</h2>
												<h3>Montclair</h3>
											</header>
											<p>
												<iframe
												  width="275"
												  height="150"
												  frameborder="0" style="border:0"
												  src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_KEY"] %>&q=Space+Needle,Seattle+WA">
												</iframe>
											</p>
											<p>
												Sed faucibus viverra ligula, non varius magna semper vitae. Donec eu justo ut ipsum
												hendrerit congue nec eu risus. Cum sociis natoque penatibus et magnis dis parturient
												montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing
												egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer
												vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
												justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum
												elit. Suspendisse fermentum adipiscing nisi, a tempor libero malesuada at. Morbi
												lacinia dui adipiscing risus eleifend tincidunt. Proin eu mauris eu tellus eleifend
												hendrerit.
											</p>
											<p>
												Mauris sit amet tellus urna. In facilisis, tortor vitae ultricies egestas, odio
												mi rhoncus arcu, quis euismod felis felis et velit. Mauris varius consectetur erat
												egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer
												vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
												justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum
												iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat dui auctor.
											</p>
										</section>

								</div>
								<div class="col m3">

									<!-- Right Sidebar -->
										<section>
											<header>
												<h2>Children</h2>
											</header>
											<ul class="link-list">
												<% @children.each do |c| %>
												<li><%= link_to c.first_name + " " + c.last_name, child_path(c)%></li>
												<% end%>
												<li><a href="#">Sed dolore viverra</a></li>
												<li><a href="#">Ligula non varius</a></li>
												<li><a href="#">Nec sociis natoque</a></li>
												<li><a href="#">Penatibus et magnis</a></li>
												<li><a href="#">Dis parturient montes</a></li>
												<li><a href="#">Nascetur ridiculus</a></li>
												<li><%= link_to "Add Child", new_guardian_child_path(@guardian), class: "waves-effect waves-light btn"%>
											</ul>
										</section>
										<section>
											<header>
												<h2>Local Centers</h2>
											</header>
											<p>
												Here are a few centers located near your home.
											</p>
											<ul class="link-list">
												<% @centers.each do |c| %>
												<li><%= link_to c.name, center_path(c)%></li>
												<% end%>
												<li><%= link_to "All Centers", centers_path, class: "waves-effect waves-light btn"%>
											</ul>
										</section>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="">
						<div class="row">
							<div class="8u 12u(mobile)">

								<!-- Links -->
									<section>
										<h2>Links to Important Stuff</h2>
										<div>
											<div class="row">
												<div class="3u 12u(mobile)">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
												<div class="3u 12u(mobile)">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
												<div class="3u 12u(mobile)">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
												<div class="3u 12u(mobile)">
													<ul class="link-list last-child">
														<li><a href="#">Neque amet dapibus</a></li>
														<li><a href="#">Sed mattis quis rutrum</a></li>
														<li><a href="#">Accumsan suspendisse</a></li>
														<li><a href="#">Eu varius vitae magna</a></li>
													</ul>
												</div>
											</div>
										</div>
									</section>

							</div>
							<div class="4u 12u(mobile)">

								<!-- Blurb -->
									<section>
										<h2>An Informative Text Blurb</h2>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse eu
											varius nibh. Suspendisse vitae magna eget odio amet mollis. Duis neque nisi,
											dapibus sed mattis quis, sed rutrum accumsan sed. Suspendisse eu varius nibh
											lorem ipsum amet dolor sit amet lorem ipsum consequat gravida justo mollis.
										</p>
									</section>

							</div>
						</div>
					</footer>
				</div>

			<!-- Copyright -->
				<div id="copyright">
					&copy; PreUni. All rights reserved. | 2016
				</div>

		</div>

		<!-- Scripts -->
			<script src= Rails.root + "assets/js/jquery.min.js"></script>
			<script src= Rails.root + "assets/js/skel.min.js"></script>
			<script src= Rails.root + "assets/js/skel-viewport.min.js"></script>
			<script src= Rails.root + "assets/js/util.js"></script>
			<script src= Rails.root + "assets/js/main.js"></script>

	</body>
</html>
