<div class="container">
	<h6>Welcome <%= @provider.name %></h6>
	<h5><%= link_to @center.name, center_path(@center.id) %></h5>
		<ul>	
			<li><strong>Phone:</strong> <%= @center.phone %></li>
			<li><strong>Email:</strong> <%= @center.email %></li>
			<li><strong>Address:</strong> <%= @center.full_address %></li>
			<li><strong>Maximum Student Enrollment:</strong> <%= @center.capacity %></li>
			<li><%= link_to "website", @center.website %></li>	
		</ul>
			<h5>Children</h5>
			Name: <%= link_to @cfgp.child.first_name, child_path(@cfgp.child.id) %> 
			<%= @cfgp.child.last_name %><br>
			DOB: <%= @cfgp.child.date_of_birth %><br>
			Center Name: <%= @center.name %><br>
			
			<h5>Guardians</h5>
			<ul>
				<li><%= link_to @guardian.name, guardian_path(@guardian.id) %></li>
				<li><%= @guardian.email %></li>
				<li><%= @guardian.phone %></li>
				<li><%= @guardian.full_address %></li>
			</ul>
</div>



