<p id="notice"><%= notice %></p>
<div class="container">
  <h3>Your Child</h3>
<p>
  <strong>First name:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @child.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @child.date_of_birth %>
</p>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %> |
<%= link_to 'forms', forms_path %>
</div>
