 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">PreUni</a>
      <ul id="nav-mobile" class="right drop-down">
        <% unless provider_signed_in?%>
  		<li><%= link_to "options", class: "waves-effect waves-light btn", href: "#", :data =>{ :activates => 'dropdown1' } %></li>
  		<ul id: 'dropdown1' class: 'dropdown-content'>
            <li><%= link_to "Provider Sign Up", new_provider_registration_path %></li>
            <li><%= link_to "Provider Sign In", new_provider_session_path %></li>
        	<li><%= link_to "Guardian Sign Up", new_guardian_registration_path %></li>
        	<li><%= link_to "Guardian Sign In", new_guardian_session_path %></li>
        </ul>	
        <% end %>

        <% if provider_signed_in? %>
          <li>Hi <%= current_provider.name %> </li>
          <li><%= link_to "Profile", provider_path(current_provider) %></li>
          <li><%= link_to "provider sign out",  destroy_provider_session_path, method: :delete %></li>
          <li><%= link_to "guardian sign out",  destroy_guardian_session_path%></li>
        <% end %>
        
        
      </ul>
    </div>
 </nav>
        