<p id="notice"><%= notice %></p>

<h1>Center Children</h1>

<table>
  <thead>
    <tr>
      <th>Child</th>
      <th>Center</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @center_children.each do |center_child| %>
      <tr>
        <td><%= center_child.child %></td>
        <td><%= center_child.center %></td>
        <td><%= link_to 'Show', center_child %></td>
        <td><%= link_to 'Edit', edit_center_child_path(center_child) %></td>
        <td><%= link_to 'Destroy', center_child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Center Child', new_center_child_path %>
