<p id="notice"><%= notice %></p>

<p>
  <strong>Child:</strong>
  <%= @center_child.child %>
</p>

<p>
  <strong>Center:</strong>
  <%= @center_child.center %>
</p>

<%= link_to 'Edit', edit_center_child_path(@center_child) %> |
<%= link_to 'Back', center_children_path %>
