<p id="notice"><%= notice %></p>

<h1>Child Family Guardian Providers</h1>

<table>
  <thead>
    <tr>
      <th>Child</th>
      <th>Family</th>
      <th>Guardian</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @child_family_guardian_providers.each do |child_family_guardian_provider| %>
      <tr>
        <td><%= child_family_guardian_provider.child %></td>
        <td><%= child_family_guardian_provider.family %></td>
        <td><%= child_family_guardian_provider.guardian %></td>
        <td><%= child_family_guardian_provider.provider %></td>
        <td><%= link_to 'Show', child_family_guardian_provider %></td>
        <td><%= link_to 'Edit', edit_child_family_guardian_provider_path(child_family_guardian_provider) %></td>
        <td><%= link_to 'Destroy', child_family_guardian_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child Family Guardian Provider', new_child_family_guardian_provider_path %>
