<p id="notice"><%= notice %></p>

<p>
  <strong>Child:</strong>
  <%= @child_family_guardian_provider.child %>
</p>

<p>
  <strong>Family:</strong>
  <%= @child_family_guardian_provider.family %>
</p>

<p>
  <strong>Guardian:</strong>
  <%= @child_family_guardian_provider.guardian %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @child_family_guardian_provider.provider %>
</p>

<%= link_to 'Edit', edit_child_family_guardian_provider_path(@child_family_guardian_provider) %> |
<%= link_to 'Back', child_family_guardian_providers_path %>
