<!DOCTYPE html>
<html>
  <head>
    <title>Preunirails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_PLACES_KEY"] %>&libraries=places&callback=initAutocomplete" async defer></script>
  </head>

  <body>
    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
